.container {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
  }
  
  mat-card {
    height: 200px;
    width: 100%;
   min-width: 300px;
   
    background-color: #1B264F;
    color: white;

  }
  
  
  
  .viewport {
    height: 100vh;
    width: 90%;
    background: #C4BBB8;
  
    box-shadow: 1px 1px 1px grey;
    
   

  }
  .listado {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 5px;
    justify-content: center;
    justify-items: center;
  }